#certificate{
    background-image:linear-gradient( to left, black,rgb(52, 12, 83),rgb(126, 0, 78));
    height: 500px;
    width: 100%;
    margin-top: 0%;
}
#certificate:hover{
    transform: scale(1.006);
}
.certificateDiv{
    padding-left: 8%;
    line-height: 35px;
    margin-top: 2%;
    color: white;
    font-size: 2vw;
}
.certificateDiv > a{
    color: whitesmoke;
    font-family:'Anek Tamil', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3vw;
    text-decoration: none;
}
.certificateDiv > a:hover{
    color: rgb(255, 3, 179);
}